<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<div class="row">
			
			<div class="col-sm-6">	
				<h2>Listes des objects emails</h2>
				<% @emails.each do |email|%>
				<%= email.object%><br>
				<%end%>
			</div>
			<div class="col-sm-6">
				<h2>Content</h2>
				<% @emails.each do |email|%>
				<%= email.body%><br>
				<%end%>
			</div>
			
		</div>
		

	</div>
</body>
</html>
