<div>	
<a href="/emails" class="btn btn-primary" data-method="post" data-remote="true">Reçevoir un email</a>
</div><br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Object Email</th>
      <th scope="col">Body Email</th>
    </tr>
  </thead>
  <tbody id="email">
    	<% @emails.each do |email|%>
    <tr id="<%=email.id%>">
      <th scope="row"><%= email.id%></th>
      <td class="emailobject"><%= email.object%></td>
      <td class="emailbody"><%= email.body%></td>
      	
    </tr>
    <%end%>
    
  </tbody>

</table>